<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th></th>
        <th>BU/Region</th>
        <th>Market</th>
        <th>Sub-Region</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Product/Sku</th>
        <th>Size</th>
        <th>Material</th>
        <th>Month</th>
        <th>Volume Sales</th>
        <th>Value Sales</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Distinct Count</td>
        <td>5</td>
        <td>50</td>
        <td>103</td>
        <td>5</td>
        <td>174</td>
        <td>889</td>
        <td>27</td>
        <td>21</td>
        <td>24</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Min</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>.01</td>
        <td>.7</td>
      </tr>
      <tr>
        <td>Max</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>55</td>
        <td>380</td>
      </tr>
      <tr>
        <td>Average</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>10.0</td>
        <td>78.3</td>
      </tr>
      <tr>
        <td>Median</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>10</td>
        <td>77.8</td>
      </tr>
      <tr>
        <td>Std Dev.</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>.01</td>
        <td>.7</td>
      </tr>
    </tbody>

    <tbody></tbody>
  </table>
</div>
<div class="confirm">
  <input
    type="button"
    value="Confirm"
    class="button-adira"
    (click)="gotoApiGenerate()"
  />
</div>
