<div class="topbar">
  <div class="adiralogo">Adira Analytics</div>
</div>
<div *ngIf="messageService.enableLandingPage">
  <landing-page> </landing-page>
</div>
<div class="parent">
  <div *ngIf="messageService.enableInnovationAnalytics" class="outer-container">
    <div class="sidebar">
      <app-steps></app-steps>
    </div>
    <div class="content">
      <question *ngIf="messageService.isQuestionActive"></question>
      <configuration *ngIf="messageService.isConfigActive"></configuration>
      <data-source *ngIf="messageService.isDataSourceActive"></data-source>
      <upload *ngIf="messageService.isUploadActive"></upload>
      <stats-confirmation
        *ngIf="messageService.isStatsConfirmationActive"
      ></stats-confirmation>
      <!-- <app-module-selection> </app-module-selection> -->
    </div>
  </div>
</div>
