p {
  font-family: Lato;
}

.outer-container {
  margin: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  display: flex;
  background: #e6ecff;
}

.sidebar {
  width: 300px;
  background: #d9d9d9;
  padding: 1rem;
}
.content {
  min-width: 400px;
  padding: 1rem;
}

.parent {
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  padding: 30px;
  background: #f1f1f1;
}
